---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

export type ReadmePage = {
  slug?: string;
  title: string;
  text: string;
};

const response = await fetch('https://gitlab.com/api/v4/groups/60423211/projects');
const data = await response.json();
console.log(data);

// export async function getStaticPaths() {
//   const response = await fetch('https://gitlab.com/api/v4/groups/60423211/projects');
//   const data = await response.json()
//   const readme

//   return pages.map(({ slug, title, text }) => {
//     return {
//       params: { slug },
//       props: { title, text },
//     };
//   });
// }

const { title, text } = Astro.props;
---

<StarlightPage frontmatter={{ title: title }}>
  {text}
</StarlightPage>
